<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>
        <activity
            android:name=".ui.main.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SSAMNA" />
        <activity
            android:name=".ui.login.LoginScreen"
            android:exported="false"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/Theme.SSAMNA" />
        <activity
            android:name=".ui.splash.OnBoardingActivity"
            android:exported="false"
            android:label="@string/title_activity_on_boarding"
            android:theme="@style/Theme.SSAMNA" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="false"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.SSAMNA" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.SSAMNA" />
    </application>

</manifest>